.navbar {
	background-color: white !important; 
	border-bottom: solid 1px #e1e1e1;
}

.navbar-brand, .nav-link {
	color: black !important;
}

.nav-link {
	margin: 0px 10px !important;
}

.navbar-toggler {
	border: none !important;
}

section {
	min-height: 100vh;		
	position: relative;
}

section:nth-child(even) {
	background-color: #3da5d9;
	color: white;
}

.custom-shape-divider-top-1635023907 {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-top-1635023907 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 90px;
}

.custom-shape-divider-top-1635023907 .shape-fill {
	fill: #FFFFFF;
}

.custom-shape-divider-bottom-1635023936 {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
}

.custom-shape-divider-bottom-1635023936 svg {
	position: relative;
	display: block;
	width: calc(100% + 1.3px);
	height: 90px;
}

.custom-shape-divider-bottom-1635023936 .shape-fill {
	fill: #FFFFFF;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.bold {
	font-weight: bold;
}

.pink {
	color: #34BE82;
}

.pink:hover {
	text-decoration: none;
	color: #34BE82;
	opacity: 0.9;
	cursor: pointer;
}

.pink-bg {
	background-color: #3da5d9;
	color: #e1e1e1;
}

.btn-outline {
	border-radius: 20px;
	border: #34BE82; 
	background-color: #34BE82; 
	color: white;	
	min-width: 100px;
}

.btn-outline:hover {
	border: #34BE82; 
	background-color: #34BE82; 
	color: white;
	opacity: 0.8;
}

.btn-outline-square {
	border: #34BE82; 
	background-color: #34BE82; 
	color: white;	
	min-width: 100px;
	height: 60px;
}

.btn-outline-square:hover {
	border: #34BE82; 
	background-color: #34BE82; 
	color: white;
	opacity: 0.8;
}

.btn-other {
	border-radius: 20px;
	border: #3da5d9;
	background-color: #3da5d9;
	color: white;	
	min-width: 100px;
}

.btn-other:hover {
	border: #3da5d9;
	background-color: #3da5d9;
	color: white;
	opacity: 0.8;
}

.btn-danger, .btn-success {
	border-radius: 20px;
	min-width: 100px;	
}

.btn-search {
	border-radius: 20px;
	border: #34BE82; 
	background-color: #34BE82; 
	color: white;	
	width: 80px;
}

.btn-search:hover {
	border: #34BE82; 
	background-color: #34BE82; 
	color: white;
	opacity: 0.8;
}

.btn-dropdown {
	border-radius: 20px;
	border: solid 1px #34BE82; 
	background-color: transparent; 
	color: #34BE82;	
	width: 150px;
	cursor: pointer;
}

.EMA {
	width: 50%;

}

.standard {
	min-height: 100vh;
}

.btn-none {
	border:none;
	text-decoration: none;
}

.none:hover {
	background-color: #e9ecef;
}

.fa {
	cursor: pointer;
}

.fa-angle-left {
	color: #34BE82;
	font-size: 40px;
}

.open-button {
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px; 
	z-index: 99;
	font-size: 18px;
	border: none;
	outline: none;
	border: #34BE82; 
	background-color: #34BE82; 
	color: white;
	cursor: pointer; 
	width: 50px;
	height: 50px;
	border-radius: 50%;
}

.form-popup {
	display: none;
	position: fixed;
	margin-bottom: 75px;
	bottom: 0;
	right: 15px;
	z-index: 9;
}

/* Add styles to the form container */
.form-container {
	max-width: 400px;
	min-width: 350px;
	padding: 10px;
	background-color: white;
}

.btn-submit {
	margin-left: 230px;
}

.divider {
	color: #2bc82e !important;
	width: 130px;
	height: 5px !important;
	border-radius: 10px;
	margin: auto !important;
	opacity: 0.9;
}

.pull-left {
	float:left;
}

.pull-right {
	float: right;
}

.footer {
	position: absolute; 
	bottom: 0; 
	left: 0; 
	width: 100%; 
	text-align: center
}

.card {
	border-radius: 20px;
	border-bottom: solid 20px #3da5d9;
}

.card-new {
	border-radius: 20px;
	border-bottom: solid 20px #34BE82;
}

.no-style {
	border-bottom: none;
}

.forum {
	display: flex;
}

.forum-footer {
	background-color: white !important;
	border-bottom: none !important;
}

.forum-view {
	border-radius: 0%;
	border-bottom: solid 1px #e1e1e1;
	margin: auto;
}

.forum-comment-view {
	border-radius: 0%;
	border-bottom: solid 1px #e1e1e1;
	width: 98%;
	margin: auto;
}

.clinic-header {
	background-color: white !important;
	border-bottom: none !important;
}

.clinic-footer {
	background-color: white !important;
	border-top: none !important;
}

.card-text {
	width: 250px;
	white-space: normal; 
}

.forum-comment {
	width: 200px;
}


.auto {
	margin: auto;
}

.pointer {
	cursor: pointer;
}

.form-design {
	border-radius: 20px;
	border: #34BE82; 
	background-color: #34BE82; 
	color: white;	
	width: 210px;
	margin: auto;
	padding: 5px;
	cursor: pointer;
}
 
.green {
	color: #34BE82;
	font-size: 25px;
	margin-top: 3px;
	margin-right: -10px;
}

.red {
	color:red;
	font-size: 25px;
}

.delete {
	border: none;
	background-color: white;
}

div.stars {
	display:flex;
	flex-direction:row-reverse;
	justify-content:center;
}

input.star {
	display: none;
}

label.star {
	display:inline;
	padding: 10px;
	font-size: 36px;
	color: #444;
	transition: all .2s;
}

input.star:checked ~ label.star:before {
	content: '\f005';
	color: #3da5d9;
	transition: all .25s;
}

input.star-5:checked ~ label.star:before {
	color: #3da5d9;
	text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before {
	color: #3da5d9;
}

label.star:hover {
	transform: rotate(-15deg) scale(1.3); 
}

label.star:before {
	content: '\f006';
	font-family: FontAwesome;
}

.fa-star {
	color:#3da5d9;
}

#twinkle {
	color:#34BE82;
}

.blade-picture {
	width: 80px;
	height: 76px;
}

.profile-picture {
	width: 170px;
	height: 146px;
}

.booking-picture {
	width: 250px;
	height: 250px;
}

.booking-view-picture {
	width: 300px;
	height: 300px;
}

table.dataTable .plain tr th {
    border-bottom: solid 1px #e1e1e1;
}

table.dataTable thead tr:nth-child(1) th.sorting,
table.dataTable thead tr:nth-child(1) th.sorting_asc,
table.dataTable thead tr:nth-child(1) th.sorting_desc,
table.dataTable thead tr:nth-child(1) th.sorting_desc:after,
table.dataTable thead tr:nth-child(1) th.sorting_desc:before {
    background: none;
    content:none;
}

.filter-forum {
	width: 200px;
}

.accordion-button:not(.collapsed) {
	background-color: #34BE82;
	color: #fff;
}

.box {
	background: #ccc;
	display: block;
	position: fixed;
	bottom: 20px;
	right: 30px; 
	z-index: 99;
	font-size: 8px;
	border: none;
	outline: none;
	border: #34BE82; 
	background-color: #34BE82; 
	color: white;
	cursor: pointer; 
	width: 100%;
	text-align: center;
}
  
#trigger:checked + .box {
	display: none;
}
  
#trigger { 
	display: none;
}

.carousel-product {
	margin: 0px 10px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
	background-color: #34BE82;	
}

@media (max-width: 767px) {
    .carousel-inner .carousel-item > div {
        display: none;
    }
    .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {
    
    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
      transform: translateX(25%);
    }
    
    .carousel-inner .carousel-item-start.active, 
    .carousel-inner .carousel-item-prev {
      transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start { 
	transform: translateX(0);
}

@media only screen and (max-width: 1404px) {
	.card-text {
		width: 150px;
		white-space: normal; 
	}

	.EMA {
		width: 95%;
	}
}

@media only screen and (max-width: 990px) {
	.nav-item:hover {
		background-color: #e9ecef;
	}

	#patient-booking-table {
		width: 10%;
	}
}